{{define "base"}}
{{template "header" .}}

<!-- Main content -->
<div class="container" style="padding: 10% 0%;">
    <div class="row justify-content-md-center ">
        <div class="col-md-10">
            <form class="form-inline justify-content-center" style="padding-bottom: 5%">
                <label for="input_id_patent">Enter Patent ID</label>
                <input type="text" id="input_id_patent" class="form-control mx-sm-3">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <button id="mybutton" type="button" class="btn btn-info">Search</button>
                    </div>
            </form>
            <!-- TABLE -->
            <table id="myTable" class="cell-border display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>ID_Med</th>
                        <th>Diabetic</th>
                        <th>High Blood Pressure</th>
                        <th>Cholestrol</th>
                        <th>Heart Disease</th>
                        <th>Asthma</th>
                        <th>Allergic</th>
                        <th>Patent ID</th>
                    </tr>
                </thead>
               
            </table>
        </div>
    </div>
</div> <!-- End of container -->




<script>
 

    $(document).ready(function() {
// $('#myTable').DataTable( {
//     "scrollX": true
// } );

$('#mybutton').on("click", function(){

     id=$("#input_id_patent").val(),

        request =$.ajax({
            
        url: "/api/patient/"+id,
        async: false,
        method: "GET",
        dataType: 'JSON',
        contentType: "application/json",
        success:function (record) {//here is the succeess function / it will fire when we got a success message from server -> if we got the results of the patient
           //here you should fill the table with the data
           //table in lin 83 should be deleted and instead create
           //the table here with the data you recived from server
//            var recoTable = $("myTable")
//  recoTable.DataTable ({
// "data":  record,
//  "Columns"   :[

// {  "data"   :   "Id"  },
// {  "data"   :   "Diabetic"  },
// {  "data"   :   "High_Blood_Pressure"  },
// {  "data"   :   "Cholestrol"  },
// {  "data"   :   "Heart_dieases"  },
//  {  "data"   :   "Asthma"  },
//  {  "data"   :   "Allergic_disease"  },
// {  "data"   :   "Id_Patent"  }]
// })


var recordTable = $("#myTable").DataTable({
                    destroy: true,
                    columnDefs: [{
                        orderable: false,
                        targets: "no-sort"
                    }]
                });
                recordTable.clear();
                recordTable.row.add([
                    record.Id,
                    record.Diabetic,
                    record.High_Blood_Pressure,
                    record.Cholestrol,
                    record.Heart_dieases,
                    record.Asthma,
                    record.Allergic_disease,
                    record.Id_Patent,
                    ]).draw()
        }
        ,//end of success function
        
        error:function (data) {//error function will fire when there is an error -> no patient found
          console.log(data.message)
        }

    })
    
        
        

}


//this is your code
//please write it now in the right place
// Var recoTable = $("myTable")
// recoTable.DataTable ({
// "data":  :record,
// "Columns"   :[

// {  "data"   :   "Id"  },
// {  "data"   :   "Diabetic"  },
// {  "data"   :   "High_Blood_Pressure"  },
// {  "data"   :   "Cholestrol"  },
// {  "data"   :   "Heart_dieases"  },
// {  "data"   :   "Asthma"  },
// {  "data"   :   "Allergic_disease"  },
// {  "data"   :   "Id_Patent"  },


//         }),//end of table

// //
//where is record defined?
//outside success function there is no varible named record, it is only there
//if you try to use it outside success function it will give you an error
//it is function scope varible
//did you get it?
// var recoTable = $("myTable")
// recoTable.DataTable ({


// })



)
} );

 //you can check your changes this way
 //check left side -> this was working with no errors

</script>

</body>
{{end}}
